<div class="popup-container">
  <h2 class="{{ nightMode ? 'titleNight' : 'title' }}">PSF</h2>
  <div class="{{ nightMode ? 'typeNight' : 'type' }}">
    Type : {{ psf.type?.toLowerCase() }}
  </div>
  <button
    (click)="onLoadCustomPSF()"
    matTooltip="Load custon PSF"
    class="loadCustomPsfButton"
  >
    <img src="assets/images/open.png" class="buttonImg" />
  </button>
  <img [src]="'data:image/jpeg;base64,' + imageData" class="psfImage" />
  <button (click)="closePopup()" class="closeButton" matTooltip="Close panel">
    <img src="assets/images/close.png" class="buttonImg" />
  </button>

  <p class="slidersStartMargin"></p>

  <div class="sliderContainer">
    <div class="sliderGroup">
      <label class="sliderLabel">Airy disk radius</label>
      <mat-slider
        class="slider"
        step="1"
        min="1"
        max="50"
        (input)="onAiryDiskRadiusUpdated($event)"
        (change)="onSlidersChanged()"
        [(ngModel)]="airyDiskRadius"
        [color]="colorTheme()"
        [disabled]="spinnerShown"
      ></mat-slider>
      <span class="sliderValue">{{ airyDiskRadius }}</span>
    </div>

    <div class="sliderGroup">
      <label class="sliderLabel">Diffraction intensity</label>
      <mat-slider
        class="slider"
        step="10"
        min="10"
        max="200"
        (input)="onDiffractionIntensityUpdated($event)"
        (change)="onSlidersChanged()"
        [(ngModel)]="diffractionIntensity"
        [color]="colorTheme()"
        [disabled]="spinnerShown"
      ></mat-slider>
      <span class="sliderValue">{{ diffractionIntensity }}</span>
    </div>

    <div class="sliderGroup">
      <label class="sliderLabel">Seeing index</label>
      <mat-slider
        class="slider"
        step="1"
        min="1"
        max="5"
        (input)="onSeeingIndexUpdated($event)"
        (change)="onSlidersChanged()"
        [(ngModel)]="seeingIndex"
        [color]="colorTheme()"
        [disabled]="spinnerShown"
      ></mat-slider>
      <span class="sliderValue">{{ seeingIndex }}</span>
    </div>
  </div>
</div>
