.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(168, 168, 168);
  background-color: #191919;
  border: 1px solid rgb(168, 168, 168);
  padding: 20px;
  width: 400px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0px;
  padding-right: 12px;
}

.sliderGroup {
  display: grid;
  grid-template-columns: 108px 10fr 10px;
  align-items: center;
  height: 16px;
  column-gap: 16px;
}

.sliderLabel {
  white-space: nowrap;
}

.slider {
  width: 100%;
}

.sliderValue {
  text-align: left;
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

.psfImage {
  width: 128px;
  border: 1px solid rgb(168, 168, 168);
  position: fixed;
  top: 24px;
  left: 151px;
}
.slidersStartMargin {
  margin-top: 110px;
}

label {
  width: 130px;
}

button {
  position: fixed;
  top: 24px;
  right: 24px;
  background-color: #191919;
  border-style: hidden;
}

.closeButton {
  height: 40px;
  font-size: 12px;
  border: 0px;
  color: rgb(226, 226, 226);
  background-color: #404040;
  border-radius: 24px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 0px;
}

.closeButtonImg {
  width: 20px;
}
