<div class="popup-container">
  <h2>Create synthetic PSF</h2>

  <div class="slider-group">
    <label for="slider2">Airy disk radius</label>
    <mat-slider
      step="0.1"
      min="1"
      max="24"
      (change)="onSlidersChanged()"
      [(ngModel)]="airyDiskRadius"
      [color]="colorTheme()"
    ></mat-slider>
    <span>{{ airyDiskRadius }}</span>
  </div>

  <div class="slider-group">
    <label for="slider2">Diffraction intensity</label>
    <mat-slider
      step="10"
      min="0"
      max="1000"
      (change)="onSlidersChanged()"
      [(ngModel)]="diffractionIntensity"
      [color]="colorTheme()"
    ></mat-slider>
    <span>{{ diffractionIntensity }}</span>
  </div>

  <div class="slider-group">
    <label for="slider2">Seeing index</label>
    <mat-slider
      step="1"
      min="1"
      max="4"
      (change)="onSlidersChanged()"
      [(ngModel)]="seeingIndex"
      [color]="colorTheme()"
    ></mat-slider>
    <span>{{ seeingIndex }}</span>
  </div>

  <div class="slider-group">
    <label for="slider2">Wavelength</label>
    <mat-slider
      step="1"
      min="300"
      max="900"
      (change)="onSlidersChanged()"
      [(ngModel)]="wavelength"
      [color]="colorTheme()"
    ></mat-slider>
    <span>{{ wavelength }} nm</span>
  </div>

  <div class="image-container">
    <img [src]="'data:image/jpeg;base64,' + imageData" />
  </div>

  <button (click)="closePopup()">Close</button>
</div>
