.title {
  text-align: center;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-weight: bold;
}
.icon {
  width: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonAboutpanel {
  position: absolute;
  margin-top: 52px;
  left: 43%;
}

.aboutText {
  margin-left: 32px;
}

.aboutLink {
  color: lightblue;
}
