<div class="popup-container">
  <h2 class="{{ nightMode ? 'titleNight' : 'title' }}">De-rotate</h2>
  <button (click)="closePopup()" class="closeButton" matTooltip="Close panel">
    <img src="assets/images/close.png" class="buttonImg" />
  </button>

  @if (showWarning()) {
    <div
      class="warning {{ nightMode ? 'titleNight' : 'title' }}"
      >
      You must select a reference image first!
    </div>
  }
  @if (!showWarning()) {
    <div class="slidersStartMargin"></div>
  }

  <div class="sliderContainer">
    <div class="sliderGroupFileSelector">
      <label class="sliderLabel">Reference image</label>
      <select
        matNativeControl
        [(ngModel)]="referenceImage"
        matTooltip="Select the reference image to which the other images will be de-rotated to"
        class="{{
          'derotationDropdown dropdown ' +
            (nightMode ? 'activeColorNight' : 'activeColor')
        }}"
        (change)="onRefImageChanged()"
        >
        @for (image of deRotation.images; track image) {
          <option [value]="image">
            {{ image }}
          </option>
        }
      </select>
    </div>
    <app-slider
      [sliderLabel]="'Detail anchor strength'"
      [sliderValue]="deRotation.anchorStrength"
      [sliderStep]="1"
      [sliderMinValue]="1"
      [sliderMaxValue]="10"
      [nightMode]="nightMode"
      (sliderValueChanged)="onAnchorStrengthChanged($event)"
    ></app-slider>
    <app-slider
      [sliderLabel]="'Noise robustness'"
      [sliderValue]="deRotation.noiseRobustness"
      [sliderStep]="1"
      [sliderMinValue]="1"
      [sliderMaxValue]="5"
      [nightMode]="nightMode"
      (sliderValueChanged)="onNoiseRobustnessChanged($event)"
    ></app-slider>
    <app-slider
      [sliderLabel]="'Accuracy'"
      [sliderValue]="deRotation.accurateness"
      [sliderStep]="1"
      [sliderMinValue]="1"
      [sliderMaxValue]="4"
      [nightMode]="nightMode"
      (sliderValueChanged)="onAccuratenessChanged($event)"
    ></app-slider>
  </div>

  <div class="buttonMargin"></div>

  <button
    type="button"
    mat-button
    (click)="onStart()"
    class="button {{ nightMode ? 'activeColorNight' : 'activeColor' }}"
    matTooltip="Start de-rotating the selected images."
    >
    <img src="assets/images/startbatch.png" class="startButton" />
  </button>
</div>
