.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(168, 168, 168);
  background-color: #191919;
  border: 1px solid rgb(168, 168, 168);
  padding: 20px;
  width: 400px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0px;
  padding-right: 12px;
}

.sliderGroupFileSelector {
  display: grid;
  grid-template-columns: 128px 218px;
  align-items: center;
  height: 16px;
  column-gap: 8px;
}

.sliderLabel {
  white-space: nowrap;
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

.slidersStartMargin {
  margin-top: 48px;
}

.closeButton {
  position: fixed;
  top: 24px;
  right: 24px;
  border-style: hidden;
}

button {
  height: 40px;
  width: 42px;
  font-size: 12px;
  border: 0px;
  color: rgb(226, 226, 226);
  background-color: #404040;
  border-radius: 24px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 0px;
}

.buttonImg {
  width: 20px;
}
.type {
  height: 24px;
  color: rgb(132, 233, 132);
}
.typeNight {
  height: 24px;
  color: orange;
}
.title {
  color: rgb(132, 233, 132);
}
.titleNight {
  color: orange;
}

h2 {
  height: 20px;
}

.startButton {
  width: 13px;
  transform: scale(2.5);
  margin-top: 2px;
  margin-right: 2px;
}

.buttonMargin {
  margin-top: 24px;
}

.warning {
  margin-top: 12px;
  margin-bottom: 12px;
}

.derotationDropdown {
  width: 263px;
}
