.container {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.containerColor {
  background-color: rgb(43, 43, 43);
}

.containerColorNight {
  background-color: rgb(0, 0, 0);
}

.sliderLabel {
  width: 108px;
  color: rgb(168, 168, 168);
  margin-left: 4px;
}

.modeLabel {
  color: blue;
  font-weight: bold;
  margin-left: 8px;
}

.modeLabelNight {
  color: red;
  font-weight: bold;
  margin-left: 8px;
}

.strongTitle {
  font-weight: bold;
  color: gray;
}
.sliderRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  max-height: 32px;
}
.dropdown {
  color: rgb(168, 168, 168);
  background-color: black;
  border-width: 3px;
  padding-left: 12px;
  padding-right: 12px;
  padding: 3px;
  border-radius: 8px;
  margin-right: 24px;
}

.dropdown_disabled {
  color: rgb(168, 168, 168);
  background-color: black;
  border-color: black;
  border-width: 3px;
  padding-left: 12px;
  padding-right: 12px;
  padding: 3px;
  border-radius: 8px;
  margin-right: 24px;
}

.rootFolder {
  width: 404px;
  border-style: solid;
}
.dropdown_label {
  color: rgb(168, 168, 168);
  margin-right: 16px;
}

.rootFolder_label {
  margin-left: 4px;
}

.zoomLabel {
  margin-left: 56px;
  margin-top: 4px;
}

.button_container_top {
  margin-bottom: 12px;
}

.button_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.button_disabled {
  border: 3px;
  border-color: rgb(43, 43, 43);
  border-style: solid;
  font-weight: bold;
  font-size: 12px;
  color: rgb(168, 168, 168);
  background-color: black;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
}

.buttonDivider {
  margin-left: 16px;
}
.button_exit {
  margin-left: 20px;
}

.button_about {
  margin-left: 36px;
}

.spanNoNewVersion {
  margin-left: 194px;
}

.line {
  color: black;
  margin-top: 16px;
  margin-left: 8px;
}

.spinner {
  position: absolute;
  z-index: 100;
  top: 310px;
  left: 280px;
}

.buttonZoom {
  font-size: 18px;
  font-weight: bolder;
  border: 3px;
  border-style: solid;
  font-weight: bold;
  color: rgb(168, 168, 168);
  background-color: black;
  border-radius: 8px;
}
.buttonZoomSpace {
  margin-left: 16px;
}

.crop {
  margin-left: 20px;
}

.plusZoom {
  margin-left: 56px;
}

.buttonDisabledZoom {
  font-size: 18px;
  font-weight: bolder;
  border: 3px;
  border-color: rgb(43, 43, 43);
  border-style: solid;
  font-weight: bold;
  color: rgb(43, 43, 43);
  background-color: black;
  border-radius: 8px;
}

.colorNewversion {
  color: rgb(168, 168, 168);
}

.buttonNewVersion {
  margin-left: 20px;
}

.newVersionLink {
  color: rgb(168, 168, 168);
}
