.container {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.containerColor {
  background-color: rgb(43, 43, 43);
}

.containerColorNight {
  background-color: rgb(0, 0, 0);
}

.slider {
  margin-left: 8px;
}

.sliderLabel {
  width: 108px;
  color: rgb(168, 168, 168);
  margin-left: 16px;
}

.methodsLabel {
  width: 97px;
  color: rgb(168, 168, 168);
  margin-left: 16px;
}

.sliderLabelEL {
  width: 100px !important;
}

.edgeArtifactLabel {
  width: 178px;
  color: rgb(168, 168, 168);
  margin-left: 16px;
  margin-top: 12px;
}

.denoiseOffLabel {
  color: rgb(168, 168, 168);
}

.sliderLabelDisabled {
  width: 108px;
  color: rgb(64, 64, 64);
  margin-left: 16px;
}

.modeLabel {
  color: lightgreen;
  margin-left: 8px;
}

.modeLabelNight {
  color: orange;
  margin-left: 8px;
}

.strongTitle {
  font-weight: bold;
  color: gray;
}
.sliderRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  max-height: 32px;
  color: rgb(168, 168, 168);
  margin-top: 2px;
}
.sliderRowLight {
  height: 26px;
}

.sliderRowCategoryTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  max-height: 32px;
  margin-left: 16px;
  margin-top: 12px;
  height: 12px;
}

.sliderRowCategoryTitleColor {
  color: lightgreen;
}
.sliderRowCategoryTitleColorNight {
  color: #b96900;
}

.workerLabel {
  margin-right: 12px;
}

.workerLabelStatus {
  width: 280px;
  text-overflow: clip;
  white-space: nowrap;
}
.connectButton {
  height: 38px;
}

.batchBar {
  margin-top: -8px !important;
}
.rootFolder {
  width: 244px;
  margin-left: 6px;
}
.dropdown_label {
  color: rgb(168, 168, 168);
}

.zoomLabel {
  margin-left: 56px;
  margin-top: 4px;
}

.button_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 4px;
}
.bottomButtonContainer {
  margin-top: 8px;
}
.topButtonContainer {
  margin-top: 6px;
}

.buttonDivider {
  margin-left: 16px;
}

.resetButton {
  min-height: 38px;
  min-width: 44px;
}

.spanNoNewVersion {
  margin-left: 215px;
}

.distanceBetweenNewVersionAndHistogram {
  margin-left: 64px;
}

.line {
  color: black;
  margin-top: 16px;
  margin-left: 8px;
}

.spinner {
  position: absolute;
  z-index: 1001;
  top: 232px;
  left: 210px;
}

.relatedButtonsSpace {
  margin-left: 6px;
}

.profileSelectorSpace {
  margin-left: 8px;
}

.crop {
  margin-left: 19px;
}

.plusZoom {
  position: fixed;
  top: 49px;
  right: 12px;
  z-index: 100;
  height: 38px;
}
.minZoom {
  position: fixed;
  top: 49px;
  right: 57px;
  z-index: 100;
  height: 38px;
  width: 39px;
}
.maximize {
  position: fixed;
  top: 49px;
  right: 102px;
  z-index: 100;
  height: 38px;
}

.buttonMargin {
  margin-left: 6px;
}

.infoButtonMargin {
  margin-left: 4px;
}

.colorNewversion {
  color: lightgreen;
}

.buttonNewVersion {
  margin-left: 20px;
}

.newVersionLink {
  color: lightgreen;
  text-decoration: none;
}

.radioSizeButton {
  margin-right: 8px;
}
.radioSizeButtonSharpen {
  margin-left: 46px;
}
.luminanceIncludeBox {
  margin-left: 4px;
}
.denoiseMode {
  margin-left: 24px;
  color: rgb(168, 168, 168);
}

.radioSizeButtonDenoise {
  margin-left: 72px;
}
.radioSizeButtonDenoise2 {
  margin-left: 111px;
}
.radioMargin {
  margin-left: 100px;
  color: rgb(168, 168, 168);
}
.savgolayRadio {
  margin-left: 24px;
}
.lswRadio {
  margin-left: 24px;
}
.controlSeperator {
  margin-top: 16px;
}
.controlSeperatorColor {
  margin-top: 32px;
}
.sharpenMode {
  color: rgb(168, 168, 168);
  vertical-align: center;
}
.sharpenModeRGB {
  margin-left: 8px;
}
.sharpenIncludeCheckBox {
  margin-right: 8px;
}
.sharpenModeIncludeLabel {
  margin-top: 4px !important;
}
.individualCheckBox {
  margin-left: 10px;
  margin-right: 8px;
}
.individualLabel {
  color: rgb(168, 168, 168);
  margin-right: 16px;
}
.progressBarPercentage {
  margin-left: 24px;
  margin-right: 16px;
  width: 24px;
}
.realtimeLabel {
  margin-left: 24px;
}
.realtimeLabelActiveColor {
  color: lightgreen;
}
.denoiseFirstRadio {
  margin-left: 7px;
}
.dispersionArrow {
  width: 16px;
}
.channelSwitcher {
  margin-top: 2px;
  width: 32px;
}
.dispersionPanelRow {
  display: flex;
  margin-top: 4px;
}
.dispersionPanelColumn {
  flex: 1;
  width: 48px;
}
.buttonAuto {
  color: rgb(168, 168, 168);
  width: 24px;
  height: 21px;
  margin-top: 6px;
  margin-left: 12px;
}
.dispersionPanel {
  margin-top: 8px;
}
.dispersionButton {
  margin-top: 8px;
  margin-left: 8px;
}
.balanceButton {
  margin-left: 22px;
}
.buttonColorBalance {
  margin-top: 6px;
}
.balanceButtonImg {
  width: 13px;
  height: 11px;
  transform: scaleX(2.6) scaleY(2.9);
  margin-top: 3px;
  margin-left: -2px;
}
.sharpenTypeMargin {
  margin-top: 6px;
}
.psfButtonImg {
  width: 13px;
  height: 11px;
  transform: scaleX(2.6) scaleY(2.9);
  margin-top: 3px;
  margin-left: 1px;
}
.psfButton {
  height: 40px;
}
.psfButtonDisabled {
  margin-left: 0px;
}
.noWiener {
  margin-left: -3px;
  margin-top: 11px;
}
.applyUnsharpMaskCheckBox {
  margin-left: 7px;
}
.dispersionInnerButton {
  max-width: 44px;
  max-height: 40px;
}
.dispersionImage {
  width: 20px;
}
.dispersionLeftButtons {
  min-width: 64px;
}
.labelColor {
  color: rgb(168, 168, 168);
}
.histogramToggle {
  position: fixed;
  top: 96px;
  left: 531px;
  z-index: 100;
}
.dispersionIndicators {
  position: fixed;
  width: 40px;
  z-index: 100;
  top: 368px;
  left: 468px;
}
.dispersionIndicatorBlue {
  left: 508px;
  top: 368px;
}
.dropdownMargin {
  margin-left: 6px;
}

.profileSelector {
  max-width: 96px;
}
.zoomIcon {
  transform: scale(1.6);
}
.normalizeCheckBox {
  margin-left: 16px;
}
.preserveDarkBGCheckBox {
  margin-left: 90px;
}
.dispersionImg {
  width: 16px;
  height: 15px;
  transform: scaleX(2) scaleY(2);
  margin-top: 3px;
  margin-left: -1px;
}
.revertImg {
  width: 20px;
  height: 14px;
  transform: scaleX(1.7) scaleY(2.3);
  margin-top: 2px;
  margin-left: -1px;
}
.rotate {
  width: 14px;
  height: 14px;
  transform: scaleX(2.3) scaleY(2.3);
  margin-top: 2px;
}
.infoButton {
  width: 12px;
  transform: scale(2.7);
  margin-top: 2px;
}
.openButton {
  width: 12px;
  transform: scale(2.4);
}
.genericButton {
  width: 13px;
  transform: scale(1.9);
  margin-top: 2px;
}
.minZoomButton {
  width: 13px;
  transform: scale(1.9);
  margin-top: 2px;
  margin-left: -1px;
}
.startBatchButton {
  width: 13px;
  transform: scale(2.5);
  margin-top: 2px;
}
.stopBatchButton {
  width: 13px;
  transform: scale(2.5);
  margin-top: 2px;
}
.resetDispersionCorrection {
  width: 11px;
  transform: scale(3);
  margin-top: 2px;
}
.saveButton {
  width: 12px;
  transform: scale(2.4);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.deprecatedColor {
  color: rgb(110, 110, 110);
}
.iansNrLockCheckbox {
  margin-left: 4px;
}
.winScaleSelector {
  width: 74px;
}
.macScaleSelector {
  width: 80px;
}
