<div *ngIf="shouldShowSpinner()">
  <mat-progress-spinner
    class="spinner"
    mode="indeterminate"
    diameter="120"
    [color]="colorTheme()"
  >
  </mat-progress-spinner>
</div>
<div
  class="{{
    nightModeEnabled()
      ? 'container containerColorNight'
      : 'container containerColor'
  }}"
>
  <div class="button_container">
    <button
      *ngIf="openRefImageEnabled()"
      type="button"
      mat-button
      (click)="openReferenceImage()"
      class="{{
        nightModeEnabled() ? 'activeColorNight button' : 'activeColor button'
      }}"
      title="Open a 16-bit image stack for processing."
    >
      Open
    </button>
    <button
      *ngIf="!openRefImageEnabled()"
      type="button"
      mat-button
      disabled
      class="button_disabled"
    >
      Open
    </button>

    <mat-radio-group
      [color]="colorTheme()"
      [disabled]="shouldShowSpinner() || crop"
      [(ngModel)]="scale"
      (change)="scaleChanged($event)"
      title="Select the scale used for opening the image stack"
    >
      <span class="labelColor relatedButtonsSpace">Scale</span>
      <mat-radio-button value="1">1</mat-radio-button>
      <mat-radio-button value="1.5">1.5</mat-radio-button>
      <mat-radio-button value="2">2</mat-radio-button>
      <mat-radio-button value="3">3</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill" class="profileSelectorSpace">
      <select
        matNativeControl
        [disabled]="!refImageSelected || !openRefImageEnabled()"
        [(ngModel)]="selectedProfile"
        name="profile"
        (change)="profileSelectionChanged($event)"
        class="{{
          !refImageSelected || !openRefImageEnabled()
            ? 'dropdown_disabled'
            : nightModeEnabled()
            ? 'dropdown activeColorNight'
            : 'dropdown activeColor'
        }}"
      >
        <option *ngFor="let profile of profiles" [value]="profile.value">
          {{ profile.viewValue }}
        </option>
      </select>
    </mat-form-field>

    <button
      *ngIf="openRefImageEnabled() && refImageSelected"
      type="button"
      mat-button
      (click)="zoomIn()"
      class="{{
        nightModeEnabled()
          ? 'plusZoom buttonZoom activeColorNight'
          : 'plusZoom buttonZoom activeColor'
      }}"
      title="Zoom in"
    >
      &nbsp;&nbsp;+&nbsp;&nbsp;
    </button>
    <button
      *ngIf="!openRefImageEnabled() || !refImageSelected"
      type="button"
      mat-button
      disabled
      class="plusZoom buttonDisabledZoom"
    >
      &nbsp;&nbsp;+&nbsp;&nbsp;
    </button>

    <button
      *ngIf="openRefImageEnabled() && refImageSelected"
      type="button"
      mat-button
      (click)="zoomOut()"
      class="{{
        nightModeEnabled()
          ? 'buttonZoom relatedButtonsSpace activeColorNight'
          : 'buttonZoom relatedButtonsSpace activeColor'
      }}"
      title="Zoom out"
    >
      &nbsp;&nbsp;-&nbsp;&nbsp;
    </button>
    <button
      *ngIf="!openRefImageEnabled() || !refImageSelected"
      type="button"
      mat-button
      disabled
      class="buttonDisabledZoom relatedButtonsSpace"
    >
      &nbsp;&nbsp;-&nbsp;&nbsp;
    </button>

    <mat-slide-toggle
      *ngIf="openRefImageEnabled()"
      class="crop"
      [(ngModel)]="crop"
      [color]="colorTheme()"
      (change)="cropSelectionChanged()"
      ><span class="sliderLabel">Crop</span></mat-slide-toggle
    >
    <mat-slide-toggle
      *ngIf="!openRefImageEnabled()"
      class="crop"
      [(ngModel)]="crop"
      disabled
      [color]="colorTheme()"
      (change)="cropSelectionChanged()"
      ><span class="sliderLabel">Crop</span></mat-slide-toggle
    >
  </div>

  <div class="button_container_top button_container">
    <mat-form-field appearance="fill">
      <mat-label class="dropdown_label rootFolder_label">Root Folder</mat-label>
      <input
        matInput
        type="text"
        [disabled]="!refImageSelected || !openRefImageEnabled()"
        [(ngModel)]="rootFolder"
        (click)="selectRootFolder()"
        class="{{
          !refImageSelected || !openRefImageEnabled()
            ? 'dropdown_disabled rootFolder'
            : nightModeEnabled()
            ? ' activeColorNight dropdown rootFolder'
            : 'activeColor dropdown rootFolder'
        }}"
      />
    </mat-form-field>

    <span class="buttonDivider">&nbsp;</span>

    <button
      *ngIf="openRefImageEnabled() && refImageSelected"
      type="button"
      mat-button
      class="button {{
        nightModeEnabled() ? 'activeColorNight' : 'activeColor'
      }}"
      (click)="loadProfile()"
    >
      Load Profile
    </button>
    <button
      *ngIf="!openRefImageEnabled() || !refImageSelected"
      type="button"
      mat-button
      disabled
      class="button_disabled"
    >
      Load Profile
    </button>

    <span class="buttonDivider">&nbsp;</span>
    <mat-slide-toggle
      [(ngModel)]="nightMode"
      (change)="nightModeChanged()"
      [color]="colorTheme()"
      ><span class="sliderLabel">Night Mode</span></mat-slide-toggle
    >
  </div>
  <div class="histogramToggle">
    <mat-slide-toggle
      [(ngModel)]="showHistogram"
      [color]="colorTheme()"
      (change)="histogramSelectionChanged()"
      ><span class="sliderLabel">Histogram</span></mat-slide-toggle
    >
  </div>
  <mat-tab-group class="sliderTabs" selectedIndex="0">
    <mat-tab label="Sharpen & Denoise">
      <!-- Sharpen panel -->
      <div class="sliderRow">
        <div
          class="sliderRowCategoryTitle {{
            nightModeEnabled()
              ? 'sliderRowCategoryTitleColorNight'
              : 'sliderRowCategoryTitleColor'
          }}"
        >
          Sharpen
        </div>
        <div class="lswRadio">
          <mat-radio-group
            [color]="colorTheme()"
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            [(ngModel)]="sharpenMode"
            (change)="sharpenModeChanged($event, true)"
            class="sharpenMode"
          >
            <mat-radio-button value="RGB" class="radioSizeButtonSharpen"
              >RGB</mat-radio-button
            >
            <mat-radio-button
              value="LUMINANCE"
              class="radioSizeButton sharpenModeRGB"
              >Luminance
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="sharpenMode === 'LUMINANCE'">
          <mat-checkbox
            [(ngModel)]="luminanceIncludeRed"
            (change)="sharpenModeChanged(undefined, true)"
            [color]="colorTheme()"
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            >Red</mat-checkbox
          >
          <mat-checkbox
            [(ngModel)]="luminanceIncludeGreen"
            (change)="sharpenModeChanged(undefined, true)"
            [color]="colorTheme()"
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            class="luminanceIncludeBox"
            >Green</mat-checkbox
          >
          <mat-checkbox
            [(ngModel)]="luminanceIncludeBlue"
            (change)="sharpenModeChanged(undefined, true)"
            [color]="colorTheme()"
            class="luminanceIncludeBox"
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            >Blue</mat-checkbox
          >
          <mat-checkbox
            [(ngModel)]="luminanceIncludeColor"
            (change)="sharpenModeChanged(undefined, true)"
            [color]="colorTheme()"
            class="luminanceIncludeBox"
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            >Color</mat-checkbox
          >
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Radius</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="0.1"
            min="0.5"
            max="4"
            (input)="radiusChanged($event, false)"
            (change)="radiusChanged($event, true)"
            [(ngModel)]="radius"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ radius }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Amount</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="10"
            min="0"
            max="9999"
            (input)="amountChanged($event, false)"
            (change)="amountChanged($event, true)"
            [(ngModel)]="amount"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ amount }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Iterations</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            tickInterval="1"
            step="1"
            min="1"
            max="10"
            (input)="iterationsChanged($event, false)"
            (change)="iterationsChanged($event, true)"
            [(ngModel)]="iterations"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ iterations }}</span>
        </div>
      </div>

      <div class="sliderRow">
        <div
          class="edgeArtifactLabel sliderRowCategoryTitle {{
            nightModeEnabled()
              ? 'sliderRowCategoryTitleColorNight'
              : 'sliderRowCategoryTitleColor'
          }}"
        >
          Edge Artefact Suppression
        </div>
        <div class="slider">
          <mat-radio-group
            [color]="colorTheme()"
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            [(ngModel)]="edgeArtefactSupressionMode"
            (change)="edgeArtefactSupressionModeChanged($event, true)"
            class="sharpenMode"
          >
            <mat-radio-button value="OFF" class="denoiseMode"
              >Off</mat-radio-button
            >
            <mat-radio-button value="DERING" class="denoiseMode"
              >Dering
            </mat-radio-button>
            <mat-radio-button value="CLIPPING" class="denoiseMode"
              >Clipping</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>

      <div *ngIf="edgeArtefactSupressionMode === 'CLIPPING'">
        <div class="sliderRow">
          <div class="sliderLabel">Suppress Clipping</div>
          <div class="slider">
            <mat-slider
              [disabled]="shouldShowSpinner() || !refImageSelected || crop"
              tickInterval="1"
              step="1"
              min="1"
              max="100"
              (input)="clippingStrengthChanged($event, false)"
              (change)="clippingStrengthChanged($event, true)"
              [(ngModel)]="clippingStrength"
              [color]="colorTheme()"
            ></mat-slider>
            <span class="sliderLabel">{{ clippingStrength }}</span>
          </div>
        </div>
        <div class="sliderRow">
          <div class="sliderLabel">Suppression Range</div>
          <div class="slider">
            <mat-slider
              [disabled]="
                shouldShowSpinner() ||
                !refImageSelected ||
                clippingStrength === 0 ||
                crop
              "
              tickInterval="1"
              step="1"
              min="1"
              max="100"
              (input)="clippingRangeChanged($event, false)"
              (change)="clippingRangeChanged($event, true)"
              [(ngModel)]="clippingRange"
              [color]="colorTheme()"
            ></mat-slider>
            <span
              class="{{
                clippingStrength === 0 ? 'sliderLabelDisabled' : 'sliderLabel'
              }}"
              >{{ clippingRange }}</span
            >
          </div>
        </div>
      </div>

      <div *ngIf="edgeArtefactSupressionMode === 'DERING'">
        <div class="sliderRow">
          <div class="sliderLabel">Strength</div>
          <div class="slider">
            <mat-slider
              [disabled]="shouldShowSpinner() || !refImageSelected || crop"
              tickInterval="1"
              step="1"
              min="1"
              max="100"
              (input)="deringStrengthChanged($event, false)"
              (change)="deringStrengthChanged($event, true)"
              [(ngModel)]="deringStrength"
              [color]="colorTheme()"
            ></mat-slider>
            <span
              class="{{
                deringStrength === 0 ? 'sliderLabelDisabled' : 'sliderLabel'
              }}"
              >{{ deringStrength }}</span
            >
          </div>
        </div>
        <div class="sliderRow">
          <div class="sliderLabel">Radius</div>
          <div class="slider">
            <mat-slider
              [disabled]="
                shouldShowSpinner() ||
                !refImageSelected ||
                deringStrength === 0 ||
                crop
              "
              tickInterval="1"
              step="1"
              min="1"
              max="100"
              (input)="deringRadiusChanged($event, false)"
              (change)="deringRadiusChanged($event, true)"
              [(ngModel)]="deringRadius"
              [color]="colorTheme()"
            ></mat-slider>
            <span
              class="{{
                deringRadius === 0 ? 'sliderLabelDisabled' : 'sliderLabel'
              }}"
              >{{ deringRadius }}</span
            >
          </div>
        </div>
        <div class="sliderRow">
          <div class="sliderLabel">Threshold</div>
          <div class="slider">
            <mat-slider
              [disabled]="
                shouldShowSpinner() ||
                !refImageSelected ||
                deringStrength === 0 ||
                crop
              "
              tickInterval="1"
              step="1"
              min="2"
              max="20"
              (input)="deringThresholdChanged($event, false)"
              (change)="deringThresholdChanged($event, true)"
              [(ngModel)]="deringThreshold"
              [color]="colorTheme()"
            ></mat-slider>
            <span
              class="{{
                deringThreshold === 0 ? 'sliderLabelDisabled' : 'sliderLabel'
              }}"
              >{{ deringThreshold }}</span
            >
          </div>
        </div>
      </div>

      <div class="sliderRow">
        <div
          class="sliderRowCategoryTitle {{
            denoiseAlgorithm === 'OFF'
              ? 'denoiseOffLabel'
              : nightModeEnabled()
              ? 'sliderRowCategoryTitleColorNight'
              : 'sliderRowCategoryTitleColor'
          }}"
        >
          Denoise
        </div>
        <mat-radio-group
          [color]="colorTheme()"
          [disabled]="shouldShowSpinner() || !refImageSelected || crop"
          [(ngModel)]="denoiseAlgorithm"
          (change)="denoiseAlgorithmChanged($event)"
        >
          <mat-radio-button value="OFF" class="radioSizeButtonDenoise"
            >Off</mat-radio-button
          >
          <mat-radio-button value="SAVGOLAY" class="denoiseMode"
            >Savitzky-Golay</mat-radio-button
          >
          <mat-radio-button value="SIGMA" class="denoiseMode"
            >Sigma</mat-radio-button
          >
        </mat-radio-group>
        <div *ngIf="denoiseAlgorithm === 'SIGMA'">
          <div class="denoiseMode">
            <mat-radio-group
              [color]="colorTheme()"
              [disabled]="shouldShowSpinner() || !refImageSelected || crop"
              [(ngModel)]="denoiseSigma"
              (change)="denoiseSigmaChanged($event, true)"
            >
              <mat-radio-button
                value="2"
                class="denoiseFirstRadio radioSizeButton"
                >Mode 1</mat-radio-button
              >
              <mat-radio-button value="5" class="radioSizeButton"
                >Mode 2</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div *ngIf="denoiseAlgorithm === 'SAVGOLAY'">
        <div class="sliderRow">
          <div class="sliderLabel">Kernel Size</div>
          <div class="slider">
            <mat-slider
              [disabled]="
                shouldShowSpinner() ||
                !refImageSelected ||
                savitzkyGolaySize === '0' ||
                crop
              "
              tickInterval="1"
              step="1"
              min="2"
              max="6"
              (input)="savitzkyGolaySizeChanged($event, false)"
              (change)="savitzkyGolaySizeChanged($event, true)"
              [(ngModel)]="savitzkyGolaySize"
              [color]="colorTheme()"
            ></mat-slider>
            <span
              class="{{
                savitzkyGolaySize === '0'
                  ? 'sliderLabelDisabled'
                  : 'sliderLabel'
              }}"
              >{{ savitzkyGolaySizeDisplayValue }}</span
            >
          </div>
        </div>
        <div class="savgolayRadio"></div>

        <div class="sliderRow">
          <div
            class="{{
              savitzkyGolaySize === '0' ? 'sliderLabelDisabled' : 'sliderLabel'
            }}"
          >
            Amount
          </div>
          <div class="slider">
            <mat-slider
              [disabled]="
                shouldShowSpinner() ||
                !refImageSelected ||
                savitzkyGolaySize === '0' ||
                crop
              "
              tickInterval="1"
              step="1"
              min="1"
              max="100"
              (input)="savitzkyGolayAmountChanged($event, false)"
              (change)="savitzkyGolayAmountChanged($event, true)"
              [(ngModel)]="savitzkyGolayAmount"
              [color]="colorTheme()"
            ></mat-slider>
            <span
              class="{{
                savitzkyGolaySize === '0'
                  ? 'sliderLabelDisabled'
                  : 'sliderLabel'
              }}"
              >{{ savitzkyGolayAmount }}</span
            >
          </div>
        </div>

        <div class="sliderRow">
          <div
            class="{{
              savitzkyGolaySize === '0' ? 'sliderLabelDisabled' : 'sliderLabel'
            }}"
          >
            Iterations
          </div>
          <div class="slider">
            <mat-slider
              [disabled]="
                shouldShowSpinner() ||
                !refImageSelected ||
                savitzkyGolaySize === '0' ||
                crop
              "
              tickInterval="1"
              step="1"
              min="1"
              max="10"
              (input)="savitzkyGolayIterationsChanged($event, false)"
              (change)="savitzkyGolayIterationsChanged($event, true)"
              [(ngModel)]="savitzkyGolayIterations"
              [color]="colorTheme()"
            ></mat-slider>
            <span
              class="{{
                savitzkyGolaySize === '0'
                  ? 'sliderLabelDisabled'
                  : 'sliderLabel'
              }}"
              >{{ savitzkyGolayIterations }}</span
            >
          </div>
        </div>
      </div>

      <div *ngIf="denoiseAlgorithm === 'SIGMA'">
        <div class="sliderRow">
          <div
            class="{{
              denoiseSigma === '0' ? 'sliderLabelDisabled' : 'sliderLabel'
            }}"
          >
            Amount
          </div>
          <div class="slider">
            <mat-slider
              [disabled]="
                shouldShowSpinner() ||
                !refImageSelected ||
                denoiseSigma === '0' ||
                crop
              "
              tickInterval="1000"
              step="1"
              min="0"
              max="100"
              (input)="denoiseAmountChanged($event, false)"
              (change)="denoiseAmountChanged($event, true)"
              [(ngModel)]="denoiseAmount"
              [color]="colorTheme()"
            ></mat-slider>
            <span
              class="{{
                denoiseSigma === '0' ? 'sliderLabelDisabled' : 'sliderLabel'
              }}"
              >{{ denoiseAmount }}</span
            >
          </div>
        </div>

        <div class="sliderRow">
          <div
            class="{{
              denoiseSigma === '0' ? 'sliderLabelDisabled' : 'sliderLabel'
            }}"
          >
            Radius
          </div>
          <div class="slider">
            <mat-slider
              [disabled]="
                shouldShowSpinner() ||
                !refImageSelected ||
                denoiseSigma === '0' ||
                crop
              "
              tickInterval="1000"
              step="0.1"
              min="0.5"
              max="4"
              (input)="denoiseRadiusChanged($event, false)"
              (change)="denoiseRadiusChanged($event, true)"
              [(ngModel)]="denoiseRadius"
              [color]="colorTheme()"
            ></mat-slider>
            <span
              class="{{
                denoiseSigma === '0' ? 'sliderLabelDisabled' : 'sliderLabel'
              }}"
              >{{ denoiseRadius }}</span
            >
          </div>
        </div>

        <div class="sliderRow">
          <div
            class="{{
              denoiseSigma === '0' ? 'sliderLabelDisabled' : 'sliderLabel'
            }}"
          >
            Iterations
          </div>
          <div class="slider">
            <mat-slider
              [disabled]="
                shouldShowSpinner() ||
                !refImageSelected ||
                denoiseSigma === '0' ||
                crop
              "
              tickInterval="1"
              step="1"
              min="1"
              max="10"
              (input)="denoiseIterationsChanged($event, false)"
              (change)="denoiseIterationsChanged($event, true)"
              [(ngModel)]="denoiseIterations"
              [color]="colorTheme()"
            ></mat-slider>
            <span
              class="{{
                denoiseSigma === '0' ? 'sliderLabelDisabled' : 'sliderLabel'
              }}"
              >{{ denoiseIterations }}</span
            >
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Light panel -->
    <mat-tab label="Contrast & Light">
      <div class="sliderRow">
        <div
          class="sliderRowCategoryTitle {{
            nightModeEnabled()
              ? 'sliderRowCategoryTitleColorNight'
              : 'sliderRowCategoryTitleColor'
          }}"
        >
          Local Contrast
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Fine Details</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="1"
            min="0"
            max="99"
            (input)="localContrastFineChanged($event, false)"
            (change)="localContrastFineChanged($event, true)"
            [(ngModel)]="localContrastFine"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ localContrastFine }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ localContrastFine == 0 ? "Off" : "" }}</span
          >
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Medium Details</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="1"
            min="0"
            max="99"
            (input)="localContrastMediumChanged($event, false)"
            (change)="localContrastMediumChanged($event, true)"
            [(ngModel)]="localContrastMedium"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ localContrastMedium }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ localContrastMedium == 0 ? "Off" : "" }}</span
          >
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Large Details</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="1"
            min="0"
            max="99"
            (input)="localContrastLargeChanged($event, false)"
            (change)="localContrastLargeChanged($event, true)"
            [(ngModel)]="localContrastLarge"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ localContrastLarge }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ localContrastLarge == 0 ? "Off" : "" }}</span
          >
        </div>
      </div>

      <div
        class="sliderRowCategoryTitle {{
          nightModeEnabled()
            ? 'sliderRowCategoryTitleColorNight'
            : 'sliderRowCategoryTitleColor'
        }}"
      >
        Light
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Gamma</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="0.01"
            min="0.0"
            max="2.0"
            (input)="gammaChanged($event, false)"
            (change)="gammaChanged($event, true)"
            [(ngModel)]="gamma"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ gamma }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ gamma == 1 ? "Off" : "" }}</span
          >
        </div>
      </div>

      <div class="sliderRow">
        <div class="sliderLabel">Contrast</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="1"
            min="0"
            max="100"
            (input)="contrastChanged($event, false)"
            (change)="contrastChanged($event, true)"
            [(ngModel)]="contrast"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ contrast }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ contrast == 0 ? "Off" : "" }}</span
          >
        </div>
      </div>

      <div class="sliderRow">
        <div class="sliderLabel">Brightness</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="1"
            min="0"
            max="100"
            (input)="brightnessChanged($event, false)"
            (change)="brightnessChanged($event, true)"
            [(ngModel)]="brightness"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ brightness }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ brightness == 0 ? "Off" : "" }}</span
          >
        </div>
      </div>

      <div class="sliderRow">
        <div class="sliderLabel">Darken Background</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="1"
            min="0"
            max="100"
            (input)="backgroundChanged($event, false)"
            (change)="backgroundChanged($event, true)"
            [(ngModel)]="background"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ background }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ background == 0 ? "Off" : "" }}</span
          >
        </div>
      </div>
    </mat-tab>

    <!-- Color & Dispersion panel -->
    <mat-tab label="Color & Dispersion">
      <div class="sliderRow">
        <div class="sliderLabel">Saturation</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="0.01"
            min="1.00"
            max="5.00"
            (input)="saturationChanged($event, false)"
            (change)="saturationChanged($event, true)"
            [(ngModel)]="saturation"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ saturation }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ saturation == 1 ? "Off" : "" }}</span
          >
        </div>
      </div>

      <div class="sliderRow">
        <div class="sliderLabel">Reduce Red</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="1"
            min="0"
            max="255"
            (input)="redChanged($event, false)"
            (change)="redChanged($event, true)"
            [(ngModel)]="red"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ red }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ red == 0 ? "Off" : "" }}</span
          >
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Reduce Green</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="1"
            min="0"
            max="255"
            (input)="greenChanged($event, false)"
            (change)="greenChanged($event, true)"
            [(ngModel)]="green"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ green }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ green == 0 ? "Off" : "" }}</span
          >
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Reduce Blue</div>
        <div class="slider">
          <mat-slider
            [disabled]="shouldShowSpinner() || !refImageSelected || crop"
            step="1"
            min="0"
            max="255"
            (input)="blueChanged($event, false)"
            (change)="blueChanged($event, true)"
            [(ngModel)]="blue"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ blue }}</span>
          <span
            *ngIf="refImageSelected"
            class="{{ nightMode ? 'modeLabelNight' : 'modeLabel' }}"
            >{{ blue == 0 ? "Off" : "" }}</span
          >
        </div>
      </div>

      <!-- Dispersion corrector-->
      <p></p>
      <div class="sliderRow" title="{{ dispersionCorrectorTitle }}">
        <div class="sliderLabel"></div>
        <div class="dispersionPanel">
          <mat-checkbox
            [(ngModel)]="dispersionCorrectionEnabled"
            (change)="dispersionCorrectionEnabledChanged()"
            [color]="colorTheme()"
          ></mat-checkbox
          ><span
            class="dispersionLabel {{
              dispersionCorrectionEnabled
                ? nightModeEnabled()
                  ? 'sliderRowCategoryTitleColorNight'
                  : 'sliderRowCategoryTitleColor'
                : 'labelColor'
            }}"
            >Correct Disperion</span
          >
          <button
            *ngIf="dispersionCorrectionEnabled"
            type="button"
            mat-button
            class="dispersionRestButton button {{
              nightModeEnabled() ? 'activeColorNight' : 'activeColor'
            }}"
            (click)="resetDispersionCorrection()"
          >
            Reset
          </button>
          <button
            *ngIf="!dispersionCorrectionEnabled"
            type="button"
            disabled
            mat-button
            class="dispersionRestButton button_disabled"
          >
            Reset
          </button>
        </div>
      </div>
      <div class="sliderRow" title="{{ dispersionCorrectorTitle }}">
        <div class="sliderLabel"></div>
        <div class="dispersionPanel">
          <section *ngIf="dispersionCorrectionEnabled">
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="{{
                    dispersionCorrectionEnabled ? 'button' : 'button_disabled'
                  }} {{
                    nightModeEnabled() ? ' activeColorNight' : ' activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('LEFT-UP', 'RED')"
                >
                  <img
                    src="assets/images/left-up.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('UP', 'RED')"
                >
                  <img src="assets/images/up.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('RIGHT-UP', 'RED')"
                >
                  <img
                    src="assets/images/right-up.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
            </div>
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('LEFT', 'RED')"
                >
                  <img src="assets/images/left.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <div class="buttonAuto">Red</div>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('RIGHT', 'RED')"
                >
                  <img src="assets/images/right.png" class="dispersionArrow" />
                </button>
              </div>
            </div>
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('LEFT-DOWN', 'RED')"
                >
                  <img
                    src="assets/images/left-down.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('DOWN', 'RED')"
                >
                  <img src="assets/images/down.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('RIGHT-DOWN', 'RED')"
                >
                  <img
                    src="assets/images/right-down.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
            </div>
          </section>
          <section *ngIf="!dispersionCorrectionEnabled">
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img
                    src="assets/images/left-up.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img src="assets/images/up.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img
                    src="assets/images/right-up.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
            </div>
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img src="assets/images/left.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <div class="buttonAuto">Red</div>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img src="assets/images/right.png" class="dispersionArrow" />
                </button>
              </div>
            </div>
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img
                    src="assets/images/left-down.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img src="assets/images/down.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img
                    src="assets/images/right-down.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
            </div>
          </section>
        </div>
        <div class="dispersionGutter"></div>
        <div class="dispersionPanel">
          <section *ngIf="dispersionCorrectionEnabled">
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="{{
                    dispersionCorrectionEnabled ? 'button' : 'button_disabled'
                  }} {{
                    nightModeEnabled() ? ' activeColorNight' : ' activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('LEFT-UP', 'BLUE')"
                >
                  <img
                    src="assets/images/left-up.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('UP', 'BLUE')"
                >
                  <img src="assets/images/up.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('RIGHT-UP', 'BLUE')"
                >
                  <img
                    src="assets/images/right-up.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
            </div>
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('LEFT', 'BLUE')"
                >
                  <img src="assets/images/left.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <div class="buttonAuto">Blue</div>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('RIGHT', 'BLUE')"
                >
                  <img src="assets/images/right.png" class="dispersionArrow" />
                </button>
              </div>
            </div>
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('LEFT-DOWN', 'BLUE')"
                >
                  <img
                    src="assets/images/left-down.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('DOWN', 'BLUE')"
                >
                  <img src="assets/images/down.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  class="button {{
                    nightModeEnabled() ? 'activeColorNight' : 'activeColor'
                  }}"
                  (click)="dispersionCorrectionClicked('RIGHT-DOWN', 'BLUE')"
                >
                  <img
                    src="assets/images/right-down.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
            </div>
          </section>
          <section *ngIf="!dispersionCorrectionEnabled">
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img
                    src="assets/images/left-up.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img src="assets/images/up.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img
                    src="assets/images/right-up.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
            </div>
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img src="assets/images/left.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <div class="buttonAuto">Blue</div>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img src="assets/images/right.png" class="dispersionArrow" />
                </button>
              </div>
            </div>
            <div class="dispersionPanelRow">
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img
                    src="assets/images/left-down.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img src="assets/images/down.png" class="dispersionArrow" />
                </button>
              </div>
              <div class="dispersionPanelColumn">
                <button
                  type="button"
                  mat-button
                  disabled
                  class="button_disabled"
                >
                  <img
                    src="assets/images/right-down.png"
                    class="dispersionArrow"
                  />
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Worker panel -->
  <mat-card class="card cardColor">
    <mat-card-content>
      <div class="sliderRow">
        <span
          class="workerLabel {{
            nightModeEnabled()
              ? 'sliderRowCategoryTitleColorNight'
              : 'sliderRowCategoryTitleColor'
          }}"
          >Batch Worker</span
        >
        <button
          *ngIf="openRefImageEnabled() && refImageSelected"
          type="button"
          mat-button
          (click)="applyProfile()"
          class="button {{
            nightModeEnabled() ? 'activeColorNight' : 'activeColor'
          }}"
          title="Start batch worker to process all {{
            selectedProfile
          }} stacks found in the root folder."
        >
          <mat-icon aria-hidden="false" fontIcon="play_arrow"></mat-icon>
        </button>
        <button
          *ngIf="!openRefImageEnabled() || !refImageSelected"
          type="button"
          mat-button
          disabled
          class="button_disabled"
        >
          <mat-icon aria-hidden="false" fontIcon="play_arrow"></mat-icon>
        </button>
        <button
          *ngIf="isWorkerBusy()"
          type="button"
          mat-button
          (click)="stopWorker()"
          class="relatedButtonsSpace button {{
            nightModeEnabled() ? 'activeColorNight' : 'activeColor'
          }}"
          title="Stop batch process when running."
        >
          <mat-icon aria-hidden="false" fontIcon="rectangle"></mat-icon>
        </button>
        <button
          *ngIf="!isWorkerBusy()"
          type="button"
          mat-button
          disabled
          class="relatedButtonsSpace button_disabled"
          title="Stop batch process when running."
        >
          <mat-icon aria-hidden="false" fontIcon="rectangle"></mat-icon>
        </button>
        <div
          class="relatedButtonsSpace workerLabelStatus {{
            !isWorkerBusy()
              ? ''
              : nightModeEnabled()
              ? 'sliderRowCategoryTitleColorNight'
              : 'sliderRowCategoryTitleColor'
          }}"
        >
          Status:
          {{ workerProgress === 100 ? "Done" : getWorkerStatusDisplayText() }}
        </div>
        <mat-checkbox
          [(ngModel)]="realtimeEnabled"
          (change)="realtimeEnabledChanged()"
          [color]="colorTheme()"
          title="Activate real time processing of stacks as they are being produced in the root foder by external stacking software."
        ></mat-checkbox
        ><span
          class="realtimeLabel {{
            realtimeEnabled
              ? nightModeEnabled()
                ? 'sliderRowCategoryTitleColorNight'
                : 'sliderRowCategoryTitleColor'
              : ''
          }}"
          title="Activate real time processing of stacks as they are being produced in the root foder by external stacking software."
          >Realtime</span
        >
      </div>
      <div class="sliderRow">
        <mat-progress-bar
          [color]="colorTheme()"
          [value]="workerProgress"
          mode="determinate"
          [bufferValue]="100"
        >
        </mat-progress-bar>
        <span class="progressBarPercentage"
          >{{ workerProgress ? workerProgress : 0 }}%</span
        >
      </div>
    </mat-card-content>
  </mat-card>

  <div class="button_container" *ngIf="buttonBarEnabled()">
    <button
      type="button"
      *ngIf="refImageSelected"
      mat-button
      (click)="saveReferenceImage()"
      class="button {{
        nightModeEnabled() ? 'activeColorNight' : 'activeColor'
      }}"
      title="This will save the currently open stack with all applied the post-processing. You can save it as a 16-bit TIFF or a 100% quality JPG. To do so add the applicable extension to the filename (filename.tif, filename.jpg)."
    >
      Save
    </button>
    <button
      *ngIf="!refImageSelected"
      type="button"
      mat-button
      disabled
      class="button_disabled"
    >
      Save
    </button>
    <button
      *ngIf="showVersionButton()"
      type="button"
      mat-button
      class="buttonNewVersion button colorNewVersion"
      title="You are currently using an older version {{
        getCurrentVersion()
      }}. Don't miss out on the latest new features & improvement by downloading the latest version {{
        getLatestKnownVersion()
      }}."
    >
      <a
        class="newVersionLink"
        target="_blank"
        href="https://github.com/wkasteleijn/luckystackworker/releases/latest"
        >Download newer version!</a
      >
    </button>
    <span *ngIf="!showVersionButton()" class="spanNoNewVersion"></span>
    <button
      type="button"
      mat-button
      class="button_about button  {{
        nightModeEnabled() ? 'activeColorNight' : 'activeColor'
      }}"
      (click)="openAbout()"
    >
      About
    </button>
    <button
      type="button_exit"
      mat-button
      (click)="exit()"
      class="button_exit button {{
        nightModeEnabled() ? 'activeColorNight' : 'activeColor'
      }}"
    >
      Exit
    </button>
  </div>
  <div class="button_container" *ngIf="!buttonBarEnabled()">
    <button type="button" mat-button disabled class="button_disabled">
      Save
    </button>
    <span class="spanNoNewVersion"></span>
    <button
      *ngIf="!openRefImageEnabled()"
      type="button"
      mat-button
      disabled
      class="button_about button_disabled"
    >
      About
    </button>
    <button
      type="button"
      mat-button
      disabled
      class="button_exit button_disabled"
    >
      Exit
    </button>
  </div>
</div>
