.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 43, 43);
  margin-left: 16px;
}
.sliderLabel {
  width: 108px;
  color: rgb(168, 168, 168);
  margin-left: 16px;
}

.strongTitle {
  font-weight: bold;
  color: gray;
}
.sliderRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}
.dropdown {
  color: rgb(168, 168, 168);
  background-color: black;
  border-color: blue;
  border-width: 2px;
  padding: 2px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
}

.dropdown_disabled {
  background-color: black;
  border-color: black;
  border-width: 2px;
  padding: 2px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
}

.rootFolder {
  width: 200px;
}
.dropdown_label {
  color: rgb(168, 168, 168);
  margin-right: 16px;
}

.button_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.button {
  border: 2px;
  border-color: blue;
  border-style: ridge;
  margin-right: 16px;
  font-weight: bold;
  font-size: 12px;
  color: rgb(168, 168, 168);
  background-color: black;
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
}

.button_disabled {
  border: 2px;
  border-color: rgb(43, 43, 43);
  border-style: ridge;
  margin-right: 16px;
  font-weight: bold;
  font-size: 12px;
  color: rgb(43, 43, 43);
  background-color: black;
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
}

.button_exit {
  margin-left: 310px;
}

.button_about {
  margin-left: 264px;
}

.line {
  color: black;
  margin-top: 16px;
  margin-left: 8px;
}
