<div class="container">
  <div class="button_container">
    <button
      *ngIf="openRefImageEnabled()"
      type="button"
      mat-button
      (click)="openReferenceImage()"
      class="button"
    >
      Open Reference Image
    </button>
    <button
      *ngIf="!openRefImageEnabled()"
      type="button"
      mat-button
      disabled
      class="button_disabled"
    >
      Open Reference Image
    </button>
    <mat-form-field appearance="fill">
      <select
        matNativeControl
        [disabled]="!refImageSelected || !openRefImageEnabled()"
        [(ngModel)]="selectedProfile"
        name="profile"
        (change)="profileSelectionChanged($event)"
        class="{{
          !refImageSelected || !openRefImageEnabled()
            ? 'dropdown_disabled'
            : 'dropdown'
        }}"
      >
      <option selected="true">Select an Object</option>
        <option *ngFor="let profile of profiles" [value]="profile.value">
          {{ profile.viewValue }}
        </option>
      </select>
    </mat-form-field>
    <!--
    <mat-form-field appearance="fill">
      <mat-label class="dropdown_label">Images root folder</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="rootFolder"
        (click)="selectRootFolder()"
        class="dropdown rootFolder"
      />
    </mat-form-field>
    -->
    <button
      *ngIf="openRefImageEnabled()"
      type="button"
      mat-button
      class="button_about button"
      (click)="openAbout()"
    >
      About
    </button>
    <button
      *ngIf="!openRefImageEnabled()"
      type="button"
      mat-button
      disabled
      class="button_about button_disabled"
    >
      About
    </button>
  </div>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Sharpen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="sliderRow">
        <div class="sliderLabel">Radius</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            thumbLabel
            step="0.1"
            min="0.5"
            max="4"
            (change)="radiusChanged($event)"
            [(ngModel)]="radius"
          ></mat-slider>
          <span class="sliderLabel">{{ radius }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Amount</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            thumbLabel
            step="10"
            min="7000"
            max="9999"
            (change)="amountChanged($event)"
            [(ngModel)]="amount"
          ></mat-slider>
          <span class="sliderLabel">{{ amount }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Iterations</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            thumbLabel
            tickInterval="1"
            step="1"
            min="1"
            max="10"
            (change)="iterationsChanged($event)"
            [(ngModel)]="iterations"
          ></mat-slider>
          <span class="sliderLabel">{{ iterations }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Denoise</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            thumbLabel
            tickInterval="1000"
            step="100"
            min="0"
            max="10000"
            color="ffffff"
            (change)="denoiseChanged($event)"
            [(ngModel)]="denoise"
          ></mat-slider>
          <span class="sliderLabel">{{ denoise }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Light & Color</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="sliderRow">
        <div class="sliderLabel">Gamma</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            thumbLabel
            tickInterval="0.01"
            step="0.01"
            min="0.9"
            max="1.1"
            color="ffffff"
            (change)="gammaChanged($event)"
            [(ngModel)]="gamma"
          ></mat-slider>
          <span class="sliderLabel">{{ gamma }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Reduce Red</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            thumbLabel
            tickInterval="1"
            step="1"
            min="0"
            max="255"
            color="ffffff"
            (change)="redChanged($event)"
            [(ngModel)]="red"
          ></mat-slider>
          <span class="sliderLabel">{{ red }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Reduce Green</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            thumbLabel
            tickInterval="1"
            step="1"
            min="0"
            max="255"
            color="ffffff"
            (change)="greenChanged($event)"
            [(ngModel)]="green"
          ></mat-slider>
          <span class="sliderLabel">{{ green }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Reduce Blue</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            thumbLabel
            tickInterval="1"
            step="1"
            min="0"
            max="255"
            color="ffffff"
            (change)="blueChanged($event)"
            [(ngModel)]="blue"
          ></mat-slider>
          <span class="sliderLabel">{{ blue }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Worker</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span class="sliderLabel">{{ workerStatus }}</span>
      <mat-progress-bar
        [color]="blue"
        [value]="workerProgress"
        mode="determinate"
        [bufferValue]="100"
      >
      </mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <div class="button_container" *ngIf="buttonBarEnabled()">
    <button type="button" mat-button (click)="applyProfile()" class="button">
      Apply Profile
    </button>
    <button
      type="button"
      mat-button
      (click)="saveReferenceImage()"
      class="button"
    >
      Save Reference Image
    </button>
    <button type="button_exit" mat-button (click)="exit()" class="button_exit button">
      Exit
    </button>
  </div>
  <div class="button_container" *ngIf="!buttonBarEnabled()">
    <button type="button" mat-button disabled class="button_disabled">
      Apply Profile
    </button>
    <button type="button" mat-button disabled class="button_disabled">
      Save Reference Image
    </button>
    <button type="button" mat-button disabled class="button_exit button_disabled">
      Exit
    </button>
  </div>
</div>
