<div *ngIf="shouldShowSpinner()">
  <mat-progress-spinner
    class="spinner"
    mode="indeterminate"
    diameter="120"
    [color]="colorTheme()"
  >
  </mat-progress-spinner>
</div>
<div class="{{nightModeEnabled() ? 'container containerColorNight':'container containerColor'}}">
  <div class="button_container">
    <button
      *ngIf="openRefImageEnabled()"
      type="button"
      mat-button
      (click)="openReferenceImage()"
      class="{{nightModeEnabled() ? 'activeColorNight button':'activeColor button'}}"
    >
      Open Reference Image
    </button>
    <button
      *ngIf="!openRefImageEnabled()"
      type="button"
      mat-button
      disabled
      class="button_disabled"
    >
      Open Reference Image
    </button>
    <span class="buttonDivider">&nbsp;</span>
    <mat-form-field appearance="fill">
      <select
        matNativeControl
        [disabled]="!refImageSelected || !openRefImageEnabled()"
        [(ngModel)]="selectedProfile"
        name="profile"
        (change)="profileSelectionChanged($event)"
        class="{{
          !refImageSelected || !openRefImageEnabled()
            ? 'dropdown_disabled'
            : nightModeEnabled() ? 'dropdown activeColorNight':'dropdown activeColor'
        }}"
      >
        <option *ngFor="let profile of profiles" [value]="profile.value">
          {{ profile.viewValue }}
        </option>
      </select>
    </mat-form-field>

    <button
      *ngIf="openRefImageEnabled()"
      type="button"
      mat-button
      class="button {{nightModeEnabled() ? 'activeColorNight':'activeColor'}}"
      (click)="loadProfile()"
    >
      Load Profile
    </button>
    <button
      *ngIf="!openRefImageEnabled()"
      type="button"
      mat-button
      disabled
      class="button_disabled"
    >
    Load Profile
    </button>

    <mat-slide-toggle *ngIf="openRefImageEnabled()" class="crop" [(ngModel)]="crop" [color]="colorTheme()" (change)="cropSelectionChanged()"><span class="sliderLabel">Crop</span></mat-slide-toggle>
    <mat-slide-toggle *ngIf="!openRefImageEnabled()" class="crop" [(ngModel)]="crop" disabled [color]="colorTheme()" (change)="cropSelectionChanged()"><span class="sliderLabel">Crop</span></mat-slide-toggle>

    <button
      *ngIf="openRefImageEnabled()"
      type="button"
      mat-button
      (click)="zoomIn()"
      class="{{nightModeEnabled() ? 'plusZoom buttonZoom activeColorNight' : 'plusZoom buttonZoom activeColor'}}"
      title="Zoom in"
    >
    &nbsp;&nbsp;+&nbsp;&nbsp;
    </button>
    <button
      *ngIf="!openRefImageEnabled()"
      type="button"
      mat-button
      disabled
      class="plusZoom buttonDisabledZoom"
    >
    &nbsp;&nbsp;+&nbsp;&nbsp;
    </button>

    <button
      *ngIf="openRefImageEnabled()"
      type="button"
      mat-button
      (click)="zoomOut()"
      class="{{nightModeEnabled() ? 'buttonZoom buttonZoomSpace activeColorNight' : 'buttonZoom buttonZoomSpace activeColor'}}"
      title="Zoom out"
    >
      &nbsp;&nbsp;-&nbsp;&nbsp;
    </button>
    <button
      *ngIf="!openRefImageEnabled()"
      type="button"
      mat-button
      disabled
      class="buttonDisabledZoom buttonZoomSpace"
    >
    &nbsp;&nbsp;-&nbsp;&nbsp;
    </button>

  </div>

  <div class="button_container_top button_container">
    <mat-form-field appearance="fill">
      <mat-label class="dropdown_label rootFolder_label">Root Folder</mat-label>
      <input
        matInput
        type="text"
        [disabled]="!refImageSelected || !openRefImageEnabled()"
        [(ngModel)]="rootFolder"
        (click)="selectRootFolder()"
        class="{{
          !refImageSelected || !openRefImageEnabled()
            ? 'dropdown_disabled rootFolder'
            : nightModeEnabled() ? ' activeColorNight dropdown rootFolder':'activeColor dropdown rootFolder'
        }}"
      />
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="nightMode" [color]="colorTheme()"><span class="sliderLabel">Night Mode</span></mat-slide-toggle>

  </div>

  <!-- Sharpen panel -->
  <mat-card class="{{nightModeEnabled() ? 'card cardColorNight': 'card cardColor'}}">
    <mat-card-header class="cardTitle">
      <mat-card-title>Sharpen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="sliderRow">
        <div class="sliderLabel">Radius</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            step="0.1"
            min="0.5"
            max="4"
            (input)="radiusChanged($event, false)"
            (change)="radiusChanged($event, true)"
            [(ngModel)]="radius"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ radius }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Amount</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            step="10"
            min="5000"
            max="9999"
            (input)="amountChanged($event, false)"
            (change)="amountChanged($event,true)"
            [(ngModel)]="amount"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ amount }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Iterations</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            tickInterval="1"
            step="1"
            min="1"
            max="10"
            (input)="iterationsChanged($event, false)"
            (change)="iterationsChanged($event,true)"
            [(ngModel)]="iterations"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ iterations }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Denoise panel -->
  <mat-card class="{{nightModeEnabled() ? 'card cardColorNight': 'card cardColor'}}">
    <mat-card-header class="cardTitle">
      <mat-card-title>Denoise</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="sliderRow">
        <div class="sliderLabel">Sigma</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            tickInterval="1000"
            step="0.1"
            min="0"
            max="5"
            (input)="denoiseSigmaChanged($event, false)"
            (change)="denoiseSigmaChanged($event,true)"
            [(ngModel)]="denoiseSigma"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ denoiseSigma }}</span>
          <span *ngIf="refImageSelected"  class="{{nightMode ? 'modeLabelNight' : 'modeLabel'}}">{{denoiseSigma === 0 ? "Off" : (denoiseSigma > 2 ? "Mode 2":"Mode 1")}}</span>
        </div>
      </div>

      <div class="sliderRow">
        <div class="sliderLabel">Amount</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected || denoiseSigma === 0"
            tickInterval="1000"
            step="1"
            min="0"
            max="100"
            (input)="denoiseAmountChanged($event, false)"
            (change)="denoiseAmountChanged($event,true)"
            [(ngModel)]="denoiseAmount"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ denoiseAmount }}</span>
        </div>
      </div>

      <div class="sliderRow">
        <div class="sliderLabel">Radius</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected || denoiseSigma === 0"
            tickInterval="1000"
            step="0.1"
            min="0.5"
            max="4"
            (input)="denoiseRadiusChanged($event, false)"
            (change)="denoiseRadiusChanged($event,true)"
            [(ngModel)]="denoiseRadius"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ denoiseRadius }}</span>
        </div>
      </div>

      <div class="sliderRow">
        <div class="sliderLabel">Iterations</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected || denoiseSigma === 0"
            tickInterval="1"
            step="1"
            min="1"
            max="10"
            (input)="denoiseIterationsChanged($event, false)"
            (change)="denoiseIterationsChanged($event,true)"
            [(ngModel)]="denoiseIterations"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ denoiseIterations }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Light & Color panel -->
  <mat-card class="{{nightModeEnabled() ? 'card cardColorNight': 'card cardColor'}}">
    <mat-card-header class="cardTitle">
      <mat-card-title>Light & Color</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="sliderRow">
        <div class="sliderLabel">Gamma</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            step="0.01"
            min="0.0"
            max="2.0"
            (input)="gammaChanged($event, false)"
            (change)="gammaChanged($event,true)"
            [(ngModel)]="gamma"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ gamma }}</span>
          <span *ngIf="refImageSelected" class="{{nightMode ? 'modeLabelNight' : 'modeLabel'}}">{{ gamma == 1 ? "Off":""}}</span>
        </div>
      </div>

      <div class="sliderRow" title="Usage of Saturation will convert the image to sRGB. Only use this when no further processing is needed outside of LuckyStackWorker.">
        <div class="sliderLabel">Saturation</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            step="0.1"
            min="1.0"
            max="5.0"
            (input)="saturationChanged($event, false)"
            (change)="saturationChanged($event,true)"
            [(ngModel)]="saturation"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ saturation }}</span>
          <span *ngIf="refImageSelected" class="{{nightMode ? 'modeLabelNight' : 'modeLabel'}}">{{ saturation == 1 ? "Off":""}}</span>
        </div>
      </div>

      <div class="sliderRow">
        <div class="sliderLabel">Reduce Red</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            step="1"
            min="0"
            max="255"
            (input)="redChanged($event, false)"
            (change)="redChanged($event,true)"
            [(ngModel)]="red"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ red }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Reduce Green</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            step="1"
            min="0"
            max="255"
            (input)="greenChanged($event, false)"
            (change)="greenChanged($event,true)"
            [(ngModel)]="green"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ green }}</span>
        </div>
      </div>
      <div class="sliderRow">
        <div class="sliderLabel">Reduce Blue</div>
        <div class="slider">
          <mat-slider
            [disabled]="!refImageSelected"
            step="1"
            min="0"
            max="255"
            (input)="blueChanged($event, false)"
            (change)="blueChanged($event,true)"
            [(ngModel)]="blue"
            [color]="colorTheme()"
          ></mat-slider>
          <span class="sliderLabel">{{ blue }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Worker panel -->
  <mat-card class="{{nightModeEnabled() ? 'card cardColorNight': 'card cardColor'}}">
    <mat-card-content>
      <span class="sliderLabel">Worker Status: {{ workerStatus }}</span>
      <mat-progress-bar
        [color]="colorTheme()"
        [value]="workerProgress"
        mode="determinate"
        [bufferValue]="100"
        >
      </mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <div class="button_container" *ngIf="buttonBarEnabled()">
    <button type="button" mat-button (click)="applyProfile()" class="button {{nightModeEnabled() ? 'activeColorNight':'activeColor'}}">
      Apply Profile
    </button>
    <span class="buttonDivider">&nbsp;</span>
    <button
      type="button"
      mat-button
      (click)="saveReferenceImage()"
      class="button {{nightModeEnabled() ? 'activeColorNight':'activeColor'}}"
    >
      Save Reference Image
    </button>
    <button
      *ngIf="showVersionButton()"
      type="button"
      mat-button
      class="buttonNewVersion button colorNewVersion" title="You are currently using an older version {{getCurrentVersion()}}. Don't miss out on the latest new features & improvement by downloading the latest version {{getLatestKnownVersion()}}.">
      <a class="newVersionLink" target="_blank" href="https://www.wilcokas.com/luckystackworker/download">Download newer version!</a>
    </button>
    <span *ngIf="!showVersionButton()" class="spanNoNewVersion"></span>
    <button
      *ngIf="openRefImageEnabled()"
      type="button"
      mat-button
      class="button_about button  {{nightModeEnabled() ? 'activeColorNight':'activeColor'}}"
      (click)="openAbout()"
    >
      About
    </button>
    <button
      type="button_exit"
      mat-button
      (click)="exit()"
      class="button_exit button {{nightModeEnabled() ? 'activeColorNight':'activeColor'}}"
    >
      Exit
    </button>
  </div>
  <div class="button_container" *ngIf="!buttonBarEnabled()">
    <button type="button" mat-button disabled class="button_disabled">
      Apply Profile
    </button>
    <span class="buttonDivider">&nbsp;</span>
    <button type="button" mat-button disabled class="button_disabled">
      Save Reference Image
    </button>
    <span class="spanNoNewVersion"></span>
    <button
      *ngIf="!openRefImageEnabled()"
      type="button"
      mat-button
      disabled
      class="button_about button_disabled"
    >
      About
    </button>
    <button
      type="button"
      mat-button
      disabled
      class="button_exit button_disabled"
    >
      Exit
    </button>
  </div>
</div>
