backend/target/
backend/.settings/
backend/.classpath
backend/.project
frontend/node_modules
frontend/.angular
frontend/dist
frontend/LuckyStackWorker-win32-x64
frontend/LuckyStackWorker-win32-x64.zip
frontend/jre/
frontend/lsw-gui-darwin-x64
frontend/lsw-gui-darwin-arm64
.DS_Store
