backend/target/
backend/.settings/
backend/.classpath
backend/.project
frontend/node_modules
frontend/dist
frontend/Planetherapy-win32-x64
frontend/planetherapy_db.mv.db
frontend/planetherapy_db.trace.db
frontend/pleunus-worker.jar
frontend/pleunus-worker.log
frontend/PleunusWorker-win32-x64/
frontend/jre/