backend/target/
backend/.settings/
backend/.classpath
backend/.project
backend/.metadata
backend/gmic
frontend/node_modules
frontend/.angular
frontend/dist
frontend/LuckyStackWorker-win32-x64
frontend/LuckyStackWorker-win32-x64.zip
frontend/jre/
frontend/lsw-gui-darwin-x64
frontend/lsw-gui-darwin-arm64
frontend/lsw-gui-linux-x64
frontend/linux/jre
.DS_Store

