.sliderGroup {
  display: grid;
  grid-template-columns: 128px 208px 10px;
  align-items: center;
  height: 16px;
  column-gap: 8px;
}

.sliderLabel {
  white-space: nowrap;
}

.slider {
  width: 100%;
}

.sliderValue {
  text-align: left;
}

.sliderInput {
  width: 38px;
  color: rgb(168, 168, 168);
  border: 1px solid rgb(168, 168, 168);
  background-color: #191919;
}
