.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(168, 168, 168);
  background-color: #191919;
  border: 1px solid rgb(168, 168, 168);
  padding: 20px;
  width: 350px;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.title {
  color: rgb(132, 233, 132);
}
.titleNight {
  color: orange;
}

button {
  height: 40px;
  width: 40px;
  font-size: 12px;
  border: 0px;
  color: rgb(168, 168, 168);
  background-color: #404040;
  border-radius: 24px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 0px;
}
button:hover {
  color: rgb(168, 168, 168);
  background-color: #505050;
}

.buttonImg {
  width: 20px;
  transform: scale(1.4);
}

.stopButton {
  width: 13px;
  transform: scale(2.5);
  margin-top: 2px;
}

.progressContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0px;
  padding-right: 12px;
}

.progressGroup {
  display: grid;
  grid-template-columns: 304px 20px;
  align-items: center;
  height: 16px;
  column-gap: 8px;
}

.progressBarPercentage {
  margin-top: 8px;
}
