<div class="newVersionPanel">
  <img class="icon" src="assets/images/luckystackworker_new.png" />
  <h2 class="subtitle">Version {{ version }} is out</h2>
  <p class="newVersionText">
    Don't miss out. This release contains the following new features and
    improvements:
  </p>
  <ul>
    <li *ngFor="let note of releaseNotes">{{ note }}</li>
  </ul>

  <button
    mat-raised-button
    class="button buttonNewVersionpanel activeColor"
    (click)="onClose()"
  >
    &nbsp;&nbsp;Download now&nbsp;&nbsp;
  </button>

  <button
    mat-raised-button
    class="button buttonNewVersionpanel"
    (click)="onClose()"
  >
    &nbsp;&nbsp;Remind me later&nbsp;&nbsp;
  </button>
</div>
