<div class="popup-container">
  <img class="icon" src="assets/images/luckystackworker_new.png" />
  <h2 class="subtitle">Version {{ version }} is out</h2>
  <p class="newVersionText">
    Don't miss out. This release contains the following new features and
    improvements:
  </p>
  <ul>
    @for (note of releaseNotes; track note) {
      <li>{{ note }}</li>
    }
  </ul>

  <div class="buttons">
    <button
      mat-raised-button
      class="button activeColorPressed"
      (click)="onGetItNow()"
      >
      &nbsp;&nbsp;Get it now&nbsp;&nbsp;
    </button>
    &nbsp;&nbsp;
    <button mat-raised-button class="button activeColor" (click)="onClose()">
      &nbsp;&nbsp;Remind me later&nbsp;&nbsp;
    </button>
  </div>
</div>
