<div class="newVersionPanel">
<img class="icon" src="assets/images/luckystackworker_new.png"/>
<h2 class="subtitle">A new version is out</h2>
<p class="newVersionText">
  Don't miss out on new features, improvements & fixes.
</p>
<p class="newVersionText">Download the latest version from</p>
<p class="newVersionText"><a class="newVersionLink" target="_blank" href="https://www.wilcokas.com/luckystackworker/download">wilcokas.com/luckystackworker/download</a></p>
<button mat-raised-button
  class="button buttonNewVersionpanel activeColor"
  (click)="snackBarRef.dismiss()">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
</div>
