<div class="popup-container">
  <h2 class="{{ nightMode ? 'titleNight' : 'title' }}">Rotate</h2>
  <button (click)="closePopup()" class="closeButton" matTooltip="Close panel">
    <img src="assets/images/close.png" class="buttonImg" />
  </button>

  <p class="slidersStartMargin"></p>

  <mat-button-toggle-group
    [(ngModel)]="angle"
    class="toggle"
    (change)="onAngleChanged()"
  >
    <mat-button-toggle value="0">0&deg;</mat-button-toggle>
    <mat-button-toggle value="90">90&deg;</mat-button-toggle>
    <mat-button-toggle value="180">180&deg;</mat-button-toggle>
    <mat-button-toggle value="-90">-90&deg;</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="sliderContainer">
    <div class="sliderGroup">
      <label class="sliderLabel">Angle</label>
      <mat-slider
        class="slider"
        step="0.1"
        min="-180"
        max="180"
        (input)="onAngleUpdated($event)"
        (change)="onAngleChanged()"
        [(ngModel)]="angle"
        [color]="colorTheme()"
        [disabled]="spinnerShown"
      ></mat-slider>
      <input
        matInput
        type="text"
        (keypress)="onInputKeyPress($event)"
        [(ngModel)]="angle"
        class="angleInput"
      />
    </div>
  </div>
</div>
