.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(168, 168, 168);
  background-color: #191919;
  border: 1px solid rgb(168, 168, 168);
  padding: 20px;
  width: 200px;
  height: 96px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.title {
  color: rgb(132, 233, 132);
}
.titleNight {
  color: orange;
}

h2 {
  height: 20px;
}

.progressBar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 240px;
}

.notificationText {
  text-align: center;
  display: block;
}

.okButton {
  position: fixed;
  left: 40%;
  top: 55%;
}
