.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(168, 168, 168);
  background-color: hsl(0, 0%, 10%);
  border: 1px solid white;
  padding: 20px;
  width: 320px;
  height: 231px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.title {
  position: absolute;
  text-align: center;
  font-weight: bold;
  max-height: 16px;
  top: 63%;
  left: 28%;
  color: white;
}

.message {
  position: absolute;
  text-align: center;
  font-weight: bold;
  top: 82%;
  left: 25%;
  animation: colorFade 1s infinite;
}

@keyframes colorFade {
  0% {
    color: white;
  }
  50% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

.splash {
  width: 360px;
  margin-left: -20px;
  margin-top: -20px;
  margin-right: 0px;
}

.aboutText {
  position: absolute;
  text-align: center;
  top: 73%;
  left: 17%;
  color: white;
}

.aboutLink {
  color: lightblue;
}

.splashSpinner {
  position: absolute;
  z-index: 1001;
  top: 47%;
  left: 37%;
}
