@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-blue, A700);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange, A700);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page {
  background-color: rgb(43, 43, 43);
  font-size: 12px;
}

.activeColor {
  border-color: blue !important;
}

.activeColorNight {
  border-color: #dd2c00 !important;
}

.button {
  border: 3px;
  border-style:solid;
  font-weight: bold;
  font-size: 12px;
  color: rgb(168, 168, 168);
  background-color: black;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
}

button:hover {
   color: rgb(210, 210, 210);
   border-color:rgb(80, 80, 255) !important;
  }

input:hover {
  color: rgb(210, 210, 210) !important;
  border-color:rgb(80, 80, 255) !important;
}

select:hover {
  color: rgb(210, 210, 210) !important;
  border-color:rgb(80, 80, 255) !important;
}

.mat-slider-thumb-label {
  background-color: rgb(65, 65, 65) !important;
}

.mat-slider-thumb {
  background-color: rgb(168, 168, 168) !important;
  color: lightgray;
}


.mat-slide-toggle-thumb {
  background-color: rgb(168, 168, 168) !important;
  color: lightgray;
}

 .mat-slider-track-background {
  background-color: black !important;
}

.mat-slider {
  width: 428px;
}

.card {
  max-width: 616px;
  margin-top: 8px;
  color: rgb(168, 168, 168);
}

.cardTitle {
  margin-top: 0px !important;
  max-height: 16px;
  margin-left: -12px;
}

.cardColor {
  background-color: rgb(25, 25, 25);
  color: rgb(168, 168, 168) !important;
}

.cardColorNight {
  background-color: rgb(49, 13, 13);
}

.mat-card-title {
  font-size: 14px !important;
}

.mat-card-content {
  font-size: 12px;
}

.mat-progress-bar-element {
  background-color: black !important;
}

.mat-snack-bar-container {
  height: 396px !important;
  min-width: 512px !important;
  margin-top: 56px !important;
}

.mat-tab-label {
  color: rgb(200, 200, 200);
  background-color: rgb(25, 25, 25);
}

.mat-tab-label:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
 }

.mat-tab-body-content {
  background-color: rgb(25, 25, 25);
}
.mat-tab-body {
  height: 274px;
}

.mat-ink-bar {
background-color: blue !important;
}

  .sliderTabs {
  margin-top: 8px;
  max-width: 648px;
}

