@use "@angular/material" as mat;

$my-primary: mat.define-palette(mat.$green-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$orange-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
  )
);
@include mat.all-legacy-component-themes($my-theme);

:root {
  --lsw-tab-color: lightgreen;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  background-color: rgb(43, 43, 43);
  font-size: 12px;
}

.activeColor {
  border-color: hsl(0, 0%, 55%) !important;
}

.activeColorNight {
  border-color: #b96900 !important;
}

.activeColorPressed {
  background-color: #304f72 !important;
}

.activeColorNightPressed {
  background-color: #304f72 !important;
}

.button {
  border: 0px;
  font-size: 12px;
  color: rgb(168, 168, 168);
  background-color: #404040;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
  min-height: 38px;
}
.button_disabled {
  border: 0px;
  font-size: 12px;
  color: rgb(168, 168, 168);
  background-color: #191919;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
  min-height: 38px;
}
.buttonZoom {
  font-size: 12px;
  border: 0px;
  color: rgb(168, 168, 168);
  background-color: #404040;
  border-radius: 24px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button3thRow {
  margin-top: 8px;
  font-size: 12px;
  border: 0px;
  color: rgb(168, 168, 168);
  background-color: #404040;
  border-radius: 24px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 40px;
}
.button3thRowDisabled {
  margin-top: 8px;
  border: 0px;
  font-size: 12px;
  color: rgb(168, 168, 168);
  background-color: #191919;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
  max-height: 40px;
}

.newVersionButton {
  font-size: 12px;
  border: 0px;
  color: rgb(168, 168, 168);
  background-color: #803e3e;
  border-radius: 24px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonDisabledZoom {
  font-size: 12px;
  border: 0px;
  color: rgb(168, 168, 168);
  background-color: #191919;
  border-radius: 24px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.buttonChannelSwitcher {
  position: fixed;
  top: 54px;
  right: 66px;
  z-index: 100;
  height: 38px;
  font-size: 12px;
  border: 0px;
  color: rgb(168, 168, 168);
  background-color: #404040;
  border-radius: 24px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.buttonChannelSwitcherDisabled {
  position: fixed;
  top: 54px;
  right: 66px;
  z-index: 100;
  height: 38px;
  border: 0px;
  font-size: 12px;
  color: rgb(168, 168, 168);
  background-color: #191919;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 20px;
  min-height: 38px;
}
.buttonRevert {
  font-size: 12px;
  border: 0px;
  color: rgb(168, 168, 168);
  background-color: #404040;
  border-radius: 24px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 38px;
}
.buttonRevertDisabled {
  border: 0px;
  font-size: 12px;
  color: rgb(168, 168, 168);
  background-color: #191919;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 20px;
  min-height: 39px;
}
.dropdown {
  color: rgb(168, 168, 168);
  background-color: #404040;
  border-width: 0px;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
}
.dropdown_disabled {
  color: rgb(168, 168, 168);
  background-color: #191919;
  border-width: 0px;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
}
button:hover {
  color: rgb(168, 168, 168);
  background-color: #505050;
}

input:hover {
  color: rgb(226, 226, 226) !important;
  background-color: #505050 !important;
}

select:hover {
  color: rgb(226, 226, 226) !important;
  background-color: #505050 !important;
}

.mat-slider-thumb-label {
  background-color: rgb(65, 65, 65) !important;
}

.mat-slider-thumb {
  background-color: rgb(168, 168, 168) !important;
  color: lightgray;
}

.mat-slide-toggle-thumb {
  background-color: rgb(168, 168, 168) !important;
  color: lightgray;
}

.mat-slider-track-background {
  background-color: black !important;
}

.mat-slider {
  width: 350px;
}

.card {
  width: 254px;
  margin-top: 0px;
  color: rgb(168, 168, 168);
}

.psfCard {
  max-width: 518px;
  margin-top: 6px;
  color: rgb(168, 168, 168);
}

.cardTitle {
  margin-top: 0px !important;
  max-height: 16px;
  margin-left: -12px;
}

.cardColor {
  background-color: rgb(30, 30, 30);
  border-color: rgb(168, 168, 168) !important ;
  color: rgb(168, 168, 168) !important;
}

.cardColorNight {
  background-color: rgb(49, 13, 13);
}

.mat-card-title {
  font-size: 12px !important;
}

.mat-card-content {
  font-size: 12px;
}

.mat-progress-bar-element {
  background-color: black !important;
}

.mat-snack-bar-container {
  height: 486px !important;
  min-width: 512px !important;
  margin-top: 56px !important;
}

.mat-dialog-container {
  background-color: #191919;
  color: rgb(168, 168, 168);
}

.mat-tab-group {
  max-width: 550px !important;
}
.mat-tab-label {
  color: var(--lsw-tab-color);
  background-color: rgb(25, 25, 25);
  height: 32px !important;
  line-height: 32px !important;
  max-width: 137px !important;
  min-width: 72px !important;
}
.mat-ink-bar {
  color: var(--lsw-tab-color) !important;
}

.mat-tab-body {
  height: 378px;
}
.mat-tab-body-content {
  background-color: rgb(25, 25, 25);
}

.sliderTabs {
  margin-top: 4px;
}

.mat-radio-button {
  margin-top: 16px;
  margin-left: 8px;
}

.mat-radio-outer-circle {
  border-color: gray;
}

.mat-radio-button {
  margin-top: 4px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: blue;
}
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: blue;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: blue;
  background-color: blue;
}

.mat-radio-label-content {
  color: rgb(168, 168, 168);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: blue !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background .mat-checkbox {
  background-color: blue !important;
}

.mat-checkbox-inner-container {
  background-color: gray !important;
}
.mat-icon {
  width: 12px !important;
  height: 12px !important;
}
.material-icons {
  font-size: 12px;
}
